h1 {
  font-family: Lucida Console,Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
}

body {
  background-color: aliceblue;
  font-family: Calibri, sans-serif;
}

img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2:hover {
  color: orange;
}